body {
  /* font-family: sans-serif; */
  margin: 0;
  padding: 0;
  background: white;
}

/* Section layout */
.comparison-section {
  padding: 80px 20px;
  max-width: 1200px;
  margin: auto;
}

/* Header */
.comparison-header {
  text-align: center;
  margin-bottom: 60px;
}

.badge {
  display: inline-block;
  padding: 6px 14px;
  background: #ff5c35;
  color: white;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
}

.comparison-title {
  margin-top: 20px;
  font-size: 36px;
  font-weight: 800;
  line-height: 1.3;
}

.comparison-title span {
  color: #111;
}

/* Comparison wrapper */
.comparison-wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 32px;
  overflow: hidden;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  border: 1px solid #000;
  max-width: 900px;
}

@media (max-width: 668px) {
  .comparison-wrapper {
    align-items: center;
  }
}

@media (min-width: 900px) {
  .comparison-wrapper {
    align-self: center;
  }
}

@media (min-width: 668px) {
  .comparison-wrapper {
    flex-direction: row;
  }
}

@media (min-width: 300px) {
  .comparison-wrapper {
    margin-top: 1rem;
    margin-left: 0.6rem;
    margin-right: -0.5rem;
  }
}

@media (min-width: 550px) {
  .comparison-wrapper {
    margin-top: 0rem;

    margin-left: 0.85rem;
    margin-right: 0.85rem;
  }
}

@media (min-width: 740px) {
  .comparison-wrapper {
    margin-top: 0rem;

    margin-left: 0.85rem;
    margin-right: 0.85rem;
  }
}

@media (min-width: 765px) {
  .comparison-wrapper {
    margin-top: 0rem;

    margin-left: 1.45rem;
    margin-right: 1.45rem;
  }
}

@media (min-width: 800px) {
  .comparison-wrapper {
    margin-left: 1.35rem;
    margin-right: 1.35rem;
  }
}

@media (min-width: 900px) {
  .comparison-wrapper {
    margin-left: auto;
    margin-right: auto;
  }
}

/* Boxes */
.comparison-box {
  width: 100%;
  padding: 40px 50px;
}

.comparison-box h3 {
  font-size: 24px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
}

/* Others */
.left1 {
  background: #f4f4f4;
  color: #555;
}

.left1 ul li {
  border-bottom: 1px solid #ddd;
}

/* We */
.right1 {
  position: relative;
  background: #000;
  color: #fff;
}

.right1 ul li {
  border-bottom: 1px solid #333;
}

/* Orange Blob */
.orange-blob {
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 250px;
  background: rgba(255, 92, 53, 0.12);
  border-radius: 50%;
  filter: blur(90px);
  pointer-events: none;
}

/* List items */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  text-align: center;
  padding: 12px 0;
  font-size: 15px;
  font-weight: 500;
}

ul li:last-child {
  border-bottom: none;
}
