body {
  font-family: sans-serif;
}

/* Section */
.contact-section {
  max-width: 900px;
  /* padding: 80px 20px; */
  /* max-width: 1200px; */
  margin: auto;
  margin-bottom: 80px;
}

@media (min-width: 300px) {
  .contact-section {
    margin-top: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 550px) {
  .contact-section {
    margin-top: 3rem;
    padding-left: 2.2rem;
    padding-right: 2.2rem;
  }
}

@media (min-width: 768px) {
  .contact-section {
    margin-top: 8rem;
    padding-left: 2.7rem;
    padding-right: 2.7rem;
  }
}

@media (min-width: 900px) {
  .contact-section {
    margin-top: 8rem;
    padding-left: 3.3rem;
    padding-right: 3.1rem;
  }
}

/* Grid */
.contact-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 60px;
}

@media (min-width: 768px) {
  .contact-grid {
    grid-template-columns: 1fr 1fr;
    /* gap: 90px; */
  }
}

/* Left Column */
.contact-left {
  display: flex;
  flex-direction: column;
  /* gap: 30px; */
}

.contact-badge {
  position: absolute;
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  padding: 6px 16px;
  background: #f5f7f9;
  color: #0f0f0f;
  font-size: 14px;
  border-radius: 20px;
  font-weight: 400;
}

/* .contact-title {
  font-size: 48px;
  font-weight: 800;
  line-height: 1.1;
} */

.contact-title {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  /* line-height: 0rem; */
  font-weight: 500;
  margin-top: 3rem;
  margin-bottom: 0;
}

@media (min-width: 300px) {
  .contact-title {
    font-size: 1.2rem;
    max-width: 290px;
  }
}

@media (min-width: 340px) {
  .contact-title {
    font-size: 1.3rem;
    max-width: 320px;
  }
}

@media (min-width: 370px) {
  .contact-title {
    font-size: 1.45rem;
    max-width: 350px;
  }
}

@media (min-width: 400px) {
  .contact-title {
    font-size: 1.55rem;
    max-width: 350px;
  }
}

@media (min-width: 430px) {
  .contact-title {
    font-size: 1.65rem;
    max-width: 400px;
  }
}

@media (min-width: 470px) {
  .contact-title {
    font-size: 1.85rem;
    max-width: 440px;
  }
}

@media (min-width: 500px) {
  .contact-title {
    font-size: 1.95rem;
    max-width: 450px;
  }
}

@media (min-width: 525px) {
  .contact-title {
    font-size: 1.5rem;
  }
}

@media (min-width: 550px) {
  .contact-title {
    font-size: 1.5rem;
  }
}
@media (min-width: 613px) {
  .contact-title {
    font-size: 1.8rem;
  }
}

@media (min-width: 620px) {
  .contact-title {
    font-size: 1.8rem;
  }
}

@media (min-width: 650px) {
  .contact-title {
    font-size: 1.8rem;
  }
}

@media (min-width: 670px) {
  .contact-title {
    font-size: 1.9rem;
  }
}

@media (min-width: 700px) {
  .contact-title {
    font-size: 2rem;
  }
}

@media (min-width: 719px) {
  .contact-title {
    font-size: 1.8rem;

    max-width: 800px;
  }
}

@media (min-width: 834px) {
  .contact-title {
    font-size: 2rem;
  }
}

@media (min-width: 1100px) {
  .contact-title {
    /* font-size: 2.8rem; */
    font-size: 2.5rem;
    max-width: 1000px;
  }
}

.contact-desc {
  color: #666;
  font-size: 0.95rem;
  line-height: 1.6;
  max-width: 400px;
}

@media (max-width: 1100px) {
  .contact-desc {
    /* font-size: 2.8rem; */
    font-size: 0.9rem;
  }
}

@media (max-width: 950px) {
  .contact-desc {
    /* font-size: 2.8rem; */
    font-size: 0.85rem;
  }
}

@media (max-width: 880px) {
  .contact-desc {
    /* font-size: 2.8rem; */
    font-size: 0.8rem;
  }
}

@media (max-width: 840px) {
  .contact-desc {
    /* font-size: 2.8rem; */
    font-size: 0.58rem;
  }
}

/* Contact Links */
.contact-links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 10px;
}

.contact-link {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: 4px;
  color: #000;
  transition: color 0.3s ease;
}

@media (min-width: 300px) {
  .contact-link {
    font-family: 'Poppins', sans-serif;
    font-size: 0.5rem;
    flex-direction: row;
    /* padding-top: 7%; */
  }
  .contact-links {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .contact-links {
    flex-direction: column;
  }
}

@media (min-width: 800px) {
  .contact-link {
    font-family: 'Poppins', sans-serif;
    font-size: 0.5rem;
    /* padding-top: 7%; */
  }
}

@media (min-width: 1000px) {
  .contact-link {
    font-family: 'Poppins', sans-serif;
    font-size: 0.75rem;
    /* padding-top: 5%; */
  }
}

@media (min-width: 1100px) {
  .contact-link {
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    /* padding-top: 5%; */
  }
}

@media (min-width: 1200px) {
  .contact-link {
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    /* padding-top: 5%; */
  }
}

.contact-link:hover {
  color: #ff5c35;
}

.icon {
  width: 22px;
  height: 22px;
}

/* Right Column */
.form-title {
  font-size: 26px;
  font-weight: 800;
  margin-bottom: 30px;
  margin-top: 0;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* Input Row */
.form-row {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr;
}

@media (min-width: 640px) {
  .form-row {
    grid-template-columns: 1fr 1fr;
  }
}

/* Inputs */
.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

label {
  font-size: 14px;
  color: #777;
}

input,
textarea {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  font-size: 16px;
  background: transparent;
  color: #111;
  outline: none;
  transition: border-color 0.3s;
}

input:focus,
textarea:focus {
  border-bottom-color: #000;
}

textarea {
  resize: none;
  height: 40px;
}

/* Button */
.submit-btn {
  width: 100%;
  padding: 16px 0;
  background: #000;
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
  border-radius: 8px;
  letter-spacing: 1px;
  transition: background 0.3s ease;
}

.submit-btn:hover {
  background: #333;
}
