.marquee-section {
  background-color: #ff5c35;
  color: white;
  padding: 0.75rem 0;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  z-index: 20;
  rotate: -1.52deg;
  /* margin-top: 5rem; */
}

.marquee-track1 {
  display: inline-flex;
  align-items: center;
  animation: marquee 30s linear infinite;
}

.marquee-track1:hover {
  animation-play-state: paused;
}

.marquee-item1 {
  display: flex;
  align-items: center;
  margin: 0 1rem;
  white-space: nowrap;
}

.marquee-item1 svg {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 1rem;
  fill: white;
  flex-shrink: 0;
}

.marquee-item1 span {
  font-size: 1.125rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media (min-width: 640px) {
  .marquee-item1 {
    margin: 0 2rem;
  }
  .marquee-item1 span {
    font-size: 1.5rem;
  }
}

@keyframes marquee1 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
