.services-section {
  padding-top: 10rem;
  /* padding-bottom: 1rem; */
  max-width: 1400px;
  margin: auto;
}

.section-header1 .badge3 {
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  padding: 6px 16px;
  background: #f5f7f9;
  color: #0f0f0f;
  font-size: 14px;
  border-radius: 20px;
}

.section-header1 .title-service {
  font-size: 42px;
  font-weight: 800;
  margin: 20px 0 50px;
}

.section-header1 {
  max-width: 800px;
  margin: 0 auto 60px;
  text-align: center;
}

@media (min-width: 300px) {
  .section-header1 {
    padding-left: 1.5rem;
    padding-right: 1rem;
  }
}

@media (min-width: 550px) {
  .section-header1 {
    padding-left: 2.2rem;
    padding-right: 2.2rem;
  }
}

@media (min-width: 600px) {
  .section-header1 {
    max-width: 65vw;
  }
}

@media (min-width: 790px) {
  .section-header1 {
    max-width: 58vw;
  }
}

@media (min-width: 1000px) {
  .section-header1 {
    max-width: 50vw;
  }
}

@media (min-width: 1100px) {
  .section-header1 {
    max-width: 55vw;
  }
}

@media (min-width: 1200px) {
  .section-header1 {
    max-width: 50vw;
  }
}

@media (min-width: 300px) {
  .section-header1 {
    /* margin: 0 auto 40px; */
    margin-bottom: 20px;
  }
}

.section-header1 .title-service {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  line-height: 0rem;
  font-weight: 500;
}

@media (min-width: 300px) {
  .section-header1 .title-service {
    font-size: 1.2rem;
    text-align: left;
    max-width: 290px;
  }
}

@media (min-width: 340px) {
  .section-header1 .title-service {
    font-size: 1.3rem;
    text-align: left;
    max-width: 320px;
  }
}

@media (min-width: 370px) {
  .section-header1 .title-service {
    font-size: 1.45rem;
    text-align: left;
    max-width: 350px;
  }
}

@media (min-width: 400px) {
  .section-header1 .title-service {
    font-size: 1.55rem;
    text-align: left;
     max-width: 350px;
  }
}

@media (min-width: 430px) {
  .section-header1 .title-service {
    font-size: 1.65rem;
    text-align: left;
    max-width: 400px;
  }
}

@media (min-width: 470px) {
  .section-header1 .title-service {
    font-size: 1.85rem;
    text-align: left;
    max-width: 440px;
  }
}

@media (min-width: 500px) {
  .section-header1 .title-service {
    font-size: 1.95rem;
    text-align: left;
     max-width: 450px;
  }
}

@media (min-width: 525px) {
  .section-header1 .title-service {
    font-size: 1.5rem;
    text-align: center;
   
  }
}

@media (min-width: 550px) {
  .section-header1 .title-service {
    font-size: 1.5rem;
    text-align: center;
  }
}
@media (min-width: 613px) {
  .section-header1 .title-service {
    font-size: 1.8rem;
    text-align: center;
  }
}

@media (min-width: 620px) {
  .section-header1 .title-service {
    font-size: 1.8rem;
    text-align: center;
  }
}

@media (min-width: 650px) {
  .section-header1 .title-service {
    font-size: 1.8rem;
    text-align: center;
  }
}

@media (min-width: 670px) {
  .section-header1 .title-service {
    font-size: 1.9rem;
    text-align: center;
  }
}

@media (min-width: 700px) {
  .section-header1 .title-service {
    font-size: 2rem;
    text-align: center;
  }
}

@media (min-width: 719px) {
  .section-header1 .title-service {
    font-size: 2.1rem;
    text-align: center;
    max-width: 800px;
  }
}

@media (min-width: 834px) {
  .section-header1 .title-service {
    font-size: 2.3rem;
    text-align: center;
  }
}

@media (min-width: 1100px) {
  .section-header1 .title-service {
    font-size: 2.8rem;
    text-align: center;
    max-width: 1000px;
  }
}

.accent {
  color: #ff4d4d;
  overflow: hidden;
}

.word5 {
  display: inline-block;
  overflow: hidden;
  line-height: 1.2;
}
